@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Open+Sans:ital@0;1&display=swap');

/* -- Utilities -- */
:root {
	--primCol: rgba(245, 245, 245, 0.85);
	--fontCol: #202020;
	--accentCol: #f5333c;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h2  {
	font-family: 'Open Sans', sans-serif;
	color: var(--primCol);
	font-style: italic;
	text-transform: uppercase;
	font-size: 48px;
	text-align: center;
}

h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	color: var(--fontCol);
	font-weight: 300;
	text-align: right;
	font-size: 32px;
}

p {
	color: var(--fontCol);
	font-family: 'Open Sans', 'sans serif';
}

table {
	font-family: 'Open Sans', 'sans serif';
}

#astralis {
	color: var(--accentCol);
	text-transform: uppercase;
}


/* -- Main Body Begins --*/
body {
	background-image: url(../images/BG2.jpg);
	background-position: center top;
	background-size: cover;
}

.container {
	width: 984px;
	height: 1325px;
	margin: 5px auto 0px;
}

/* -- Header -- */
header {
	width: 984px;
	height: 200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
/* Nav */
nav {
	width: 360px;
	height: 65px;
	background-color: var(--primCol);
	display: flex;
	align-items: center;
	/*box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.7);*/
}

.navBox {
	height: 70%;
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#boxBorder {
	border-right: 2px solid var(--accentCol);
}

nav a {
	text-decoration: none;
}

nav h2:hover {
	letter-spacing: 5px;
	transition: 0.1s ease;
}

nav h2 {
	font-size: 24px;
	color: var(--fontCol);
	letter-spacing: normal;
	transition: 0.6s ease;
}

/* Logo */
.logoArea {
	width: 186px;
	height: 200px;
	align-self: flex-start;
}

/* Banner */
.banner {
	width: 984px;
	height: 319px;
	margin-top: 30px;
}

/* !---! Main Content Area !---! */
main {
	width: 984px;
	height: 620px;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

/* -- Left Content Box: Recent News */
.leftBox {
	width: 594px;
	height: 620px;
	background-color: var(--primCol);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.newsTitle {
	width: 594px;
	height: 80px;
	line-height: 80px;
	background-color: #202020;
	position: relative;
}

.newsTitle:after {
	background: #202020;
    content: "";
    height: 15px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    clip-path: polygon(0 0, 50% 100%, 100% 0)
}

.newsModule {
	width: 594px;
	height: 488px;
	display: flex;
	flex-direction: column;
}

.newsEntry:not(:last-child) {
	width: 594px;
	height: 122px;
	display: flex;
}

#newsReverse {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	background-color: rgba(77, 77, 77, 0.2);
}

.newsPic {
	width: 195px;
	height: 122px;
}

.newsText {
	width: auto;
	height: auto;
	align-self: center;
}

.newsText p {
	padding: 0 20px;
	font-size: 16px;
}

/* -- Right Content Module: Team Media -- */
.rightBox {
	width: 360px;
	height: 620px;
	background-color: var(--primCol);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.mediaTitle {
	width: 360px;
	height: 80px;
	line-height: 80px;
	background-color: #202020;
	position: relative;
}

.mediaTitle:after {
	background: #202020;
    content: "";
    height: 15px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    clip-path: polygon(0 0, 50% 100%, 100% 0)
}

/* Gallery Begins */
.galleryModule {
	width: 360px;
	height: 265px;
	margin-top: 25px;
	display: flex;
	flex-direction: column;
}

.gallerySH {
	width: 144px;
	height: 40px;
	align-self: flex-end;
	margin-bottom: 18px;
	margin-right: 38px;
	border-bottom: 2px solid var(--accentCol);
}

.gallery {
	display: grid;
	width: 284px;
	height: 194px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	margin: 0 auto;
	column-gap: 6px;
}

.picArea {
	width: 90px;
	height: 90px;
	justify-self: center;
	align-self: center;
	overflow: hidden;
}

.gallery img {
	opacity: 1;
	transform: scale(1);
	transition: 0.6s ease;
}

.gallery img:hover {
	opacity: 0.5;
	transform: scale(1.1);
	transition: 0.3s ease;
}

/* Video Begins */
.videoModule {
	width: 360px;
	height: 230px;
	display: flex;
	flex-direction: column;
	margin: 10px 0px;
}

.video {
	width: 284px;
	height: 160px;
	margin: 5px auto 0px;
}

/* -- Footer -- */
footer {
	width: 984px;
	height: 84px;
	margin: 30px 0px;
	background-color: var(--primCol);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Left footer box */
.leftFoot {
	width: 30%;
	height: 70%;
	border-right: 2px solid var(--accentCol);
	display: flex;
	justify-content: center;
	align-items: center;
}

.leftFoot p {
	font-size: 18px;
}

/* Middle footer box (logo) */
.midFoot {
	width: 33%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Right footer box (social media links) */
.rightFoot {
	width: 30%;
	height: 70%;
	border-left: 2px solid var(--accentCol);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.rightFoot a {
	color: var(--fontCol);
}

.rightFoot i {
	transition: 0.1s ease;
}

.rightFoot a:hover i{
	transform: scale(1.2);
	transition: 0.1s ease;
	color: var(--accentCol);
}

/*
	!!**!!**!!----------------------!!**!!**!!
	!!**!!**!!  SECOND PAGE BEGINS  !!**!!**!!
	!!**!!**!!----------------------!!**!!**!!
*/

.playersContainer {
	width: 984px;
	height: 1978px;
	margin: 5px auto 0px;
}

.playersMain {
	width: 984px;
	height: 1604px;
	display: flex;
	flex-direction: column;
}

.teamBio {
	width: 100%;
	/*height: 450px;*/
	background-color: var(--primCol);
	border-radius: 0px 0px 10px 10px;
}

.bioTitle {
	width: 984px;
	height: 80px;
	line-height: 80px;
	background-color: #202020;
	position: relative;
}

.bioTitle:after {
	background: #202020;
    content: "";
    height: 15px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    clip-path: polygon(0 0, 50% 100%, 100% 0)
}

.teamBio p {
	padding: 0px 25px 25px;
}

#topPadding {
	padding-top: 45px;
}

.cardHolder {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	row-gap: 30px;
	margin-top: 30px;
	
}

.playerCard {
	width: 244px;
	height: 484px;
	justify-self: center;
	background-color: var(--primCol);
	background-image: url(../images/cardLogo3.png);
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}



/* This works, but looks better (IMO) when the left and right playerCard's are centered as opposed to flush left or right.

#cardAlignLeft {
	justify-self: left;
}

#cardAlignRight {
	justify-self: right;
}*/

.playerPic {
	width: 244px;
	height: 484px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.playerBio {
	width: 244px;
	height: 484px;
	border: 2px solid var(--fontCol);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.playerBio table {
	width: 244px;
	height: 484px;
	padding: 20px;
	margin-top: 5px;
	border: none;
}

.playerBio th {
	text-align: left;
}

.playerBio ul {
	list-style-type: none;
}

.playerBio td {
	text-align: right;
}

.playerCard img {
	border: 2px solid var(--fontCol);
	opacity: 1;
	transition: 0.3s ease;
}

.playerCard img:hover {
	opacity: 0;
	transition: 0.3s ease;
}